body{ 
      width: 760px;
      margin: 10px auto;
}

pre { 
      background-color: ghostWhite;
      border: 1px solid #DEDEDE;
      padding-top: 4px;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 4px;
      }